:root {
  --cell-gap: 15px;
}

.column {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: fill;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, min-content);
  grid-auto-rows: minmax(auto, min-content);
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.column:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.589);
}


.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: minmax(auto, min-content);
  grid-auto-rows: minmax(auto, min-content);
  max-height: 100%;
  column-gap: var(--cell-gap);
  row-gap: var(--cell-gap);
  padding: 0px 20px 10px;
}